<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
        
                <h1><span class="fa"></span> Add Room</h1>

                <!-- ADD ROOM FORM -->
                <form action="/owner/hostel/add_room" method="POST">
                    <label>Choose Room Type (Number of Beds, AC/Non-AC, Rent):</label>
                    <select name="Room_Type">
                    <% for(var i=0; i < room_type.length; i++){ %>
                    <option> <% if(room_type[i].ac){[room_type[i].num_beds, "AC", room_type[i].rent]}
                                else{[room_type[i].num_beds, "Non-AC", room_type[i].rent]} %> </option>
                    <%}%>
                    </select>
                    <p>New Room type? <a href="/owner/hostel/add_room_type">Add Room Type</a></p>
                    <div class="form-group">
                        <label>Enter Room No.</label>
                        <input type="text" class="form-control" name="city" required>
                    </div>    
                    <button type="submit" class="btn btn-warning btn-lg">Add Room </button>
                </form>
        
                <hr>
        
            </div>
        </div>
        <%- include('./includes/end.ejs') %>