<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <br><br>
                    <h1><span class="fa fa-sign-in"></span> Login</h1>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="radio" name="role" value="customer" id="customer" checked>
                                Customer</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="radio" name="role" value="hostel_owner" id="hostel_owner"> Hostel
                                Owner</label>
                        </div>
                        <div class="form-check-inline">
                            <label><input type="radio" name="role" value="regional_manager" id="regional_manager"> Regional
                                Manager</label>
                        </div>
                        <br><br>


                        <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    </form>

                    <hr>


                    <p>Need an account? <a href="/signup">Signup</a></p>


                </div>
            </div>
            <%- include('./includes/end.ejs') %>